<br><br><br><br><br><br><br><br><br><br><br>
<!--Footer-->
<footer class="page-footer text-white bg-dark mb-3 center-on-small-only">    
        <!--Footer Links-->
        <div class="container">
            <div class="row">
    
                <!--First column-->
                
                <!--/.First column-->
    
                <hr class="hidden-md-up">
    
                <!--Second column-->
                <div class="col-md-2 offset-md-1">
                    <h5 class="title">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">What's new</a></li>
                        <li><a href="#">My profile</a></li>
                        <li><a href="#">Cancel Subscription</a></li>
                      </ul>
                </div>
                <!--/.Second column-->
    
                <hr class="hidden-md-up">
    
                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Information</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Press info</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Partnerships</a></li>
                      </ul>
                </div>
                <!--/.Third column-->
    
                <hr class="hidden-md-up">
    
                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">Follow us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">YouTube</a></li>
                        <li><a href="#">LinkedIn</a></li>
                      </ul>
                </div>
                <!--/.Fourth column-->
    
            </div>
        </div>
        <!--/.Footer Links-->
    
        <hr>
    
        <!--Call to action-->
        <div class="text-center mb-3">
            
            <ul class="list-inline">
                <li class="list-inline-item" id="copyright">&copy; 2018 All rights reserved.</li>
                <li class="list-inline-item"><a href="#">Terms of use and privacy policy</a></li>
              </ul>
        </div>
        <!--/.Call to action-->
    
        <hr>
    
        <!--Social buttons-->
        <div class="text-center mb-3">
    
            <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
            <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
            <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
            <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
            <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
            <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
            <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>
    
        </div>
        <!--/.Social buttons-->
  
    </footer>
    <!--/.Footer-->