<div class="container" id="theform" (click)="onSubmit()">
    <h3>Signup Form</h3>
      <form>
  
          <div class="form-group">
            <label for="r-address">Residential Address</label>
            <input 
              type="text" 
              class="form-control" 
              id="r-address" 
              name="r-address"
              [(ngModel)]="r-address">
          </div>
          <div class="form-group">
            <label for="app-type">Application Type</label>
            <select name="app-type" id="app-type" name="app-type" [(ngModel)]="app-type">
              <option value="articulated vehicle">Articulated vehicle</option>
            </select>
          </div>
          <div class="form-group">
            <label for="state-app">State of Application</label>
            <input 
              type="text" 
              class="state-app" 
              id="state-app" 
              name="state-app"
              [(ngModel)]="state-app">
          </div>
          <div class="form-group">
            <label for="address">Residential Address</label>
            <input 
              type="text" 
              class="form-control" 
              id="address" 
              name="address"
              [(ngModel)]="address">
          </div>
          <button type="button" class="btn btn-success">Submit</button>
      </form>
  </div>