<div class="container-fluid">
 
    <!--the image div-->
    <div class="row">
      <div class="col-md-12">
        <img src="https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>

    <div class="jumbotron">
      <h1 class="display-4">WELCOME</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
</div>
